<section class="sign-in">
    <h3 class="sign-in__heading">Sign In</h3>
  
    <form action="/admin" method="POST" class="sign-in__form">
      <label for="username" class="sign-in__label"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" class="sign-in__input" required>
  
      <label for="password" class="sign-in__label"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" class="sign-in__input" required>
  
      <input type="submit" value="Login" class="btn">
    </form>
  
    <h3 class="sign-in__subtext">Not signed up? <a href="/admin/register" class="sign-in__link">Sign Up</a></h3>
  </section>
  