<section class="register">
    <h3 class="register__heading">Register</h3>
  
    <form action="/register" method="POST" class="register__form">
      <label for="username" class="register__label"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" class="register__input" required>
  
      <label for="password" class="register__label"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" class="register__input" required>
  
      <input type="submit" value="Register" class="btn">
    </form>
  
    <h3 class="register__subtext">Already have an account? <a href="/admin/login" class="register__link">Login</a></h3>
  </section>
  