<header class="header">
    <div class="header_container">
      <!-- Logo Section -->
      <a href="/" class="header_logo">MindScribe</a>
  
      <!-- Navigation Menu -->
      <nav class="header_nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="/" class="nav_link">Home</a>
          </li>
          <li class="nav_item">
            <a href="/about" class="nav_link">About</a>
          </li>
          <li class="nav_item">
            <a href="/admin" class="nav_link">Login/Register</a>
          </li>
        </ul>
      </nav>
  
      <!-- Search Button -->
      <div class="header_button">
        <button class="searchBtn">Search</button>
      </div>
    </div>
  </header>
  